@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

body {
  overflow: hidden; /* Prevents scrolling */
  height: 100%; /* Ensures the body takes the full height */
  margin: 0; /* Removes default body margin */
}

.header {
  z-index: 20;
  position: fixed; /* Fixes the header to the top */
  top: 86%; /* Aligns it to the top edge */
  left: 50%;
  transform: translateX(-50%); /* Centers it horizontally */
  background-color: #EEEEEE;
  width: 100%; /* Ensures the header spans the full width */
  padding: 20px 0; /* Adds some padding */
  text-align: center; /* Centers the text */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Adds shadow under the header */
  height: 150px;
}

.buttonWrapper, .buttonWrapper1, .buttonWrapper2 {
  margin: 10px 0;
  position: relative;
  z-index: 10;
  top: 30px;
}

.buttonhome, .buttonsearch, .buttonsign {
  font-size: 40px;
  position: inherit;
  z-index: 2;
  background: transparent;
  border: none;
  cursor: pointer;    
  height: 40px;
  width: 40px;  
  color: transparent;
}

.buttonhome {
  margin-left: -60%;
  top: -25px;
}

.homewhite {
  position: relative;
  height: 100%;
  width: auto;
  top: -30px;
  left: -49px;
  z-index: 1;
}

.buttonsearch {
  top: -85px;
}

.searchblack {
  position: relative;
  height: 100%;
  width: auto;
  top: -80px;
  left: -20px;
  z-index: 1;
}

.buttonsign {
  margin-left: 60%;
  top: -145px;
}

.signblack {
  position: relative;
  height: 100%;
  width: auto;
  top: -132px;
  left: 4px;
  z-index: 1;
}

.purplebutton {
  position: absolute;
  top: -5px;
  left: 120px;
  transition: transform 0.5s ease-in-out;
}

.moveToHome {
  transform: translateX(calc(-100% - 20px)); /* Adjust as needed for spacing */
}

.moveToSearch {
  transform: translateX(54px); /* Adjust as needed for spacing */
}

.moveToSign {
  transform: translateX(calc(100% + 120px)); /* Adjust as needed for spacing */
}
