@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

body {
  overflow: hidden; /* Prevents scrolling */
  height: 100%; /* Ensures the body takes the full height */
  margin: 0; /* Removes default body margin */
}

.signInContainer {
  font-family: 'Karla', sans-serif;
}

.topic {
  font-size: 40px;
  margin-top: 140px;
  margin-bottom: 20px;
  margin-left: calc(50% - 80px);
  letter-spacing: 3px;
  color: #AB80E3;
}

.formGroup {
  position: relative;
  top: -60px;
  margin-top: 30px;
  margin-left: 10px;
}

.formGroup label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  letter-spacing: 2px;
  color: #AB80E3;
}

.formGroup input {
  font-size: 16px;
  letter-spacing: 1px;
  color: #AB80E3;
  font-weight: bold;
  margin-top: 3px;
  width: 91%;
  padding: 8px;
  border: 2.5px solid #AB80E3;
  border-radius: 12px;
  outline: none; /* Removes default focus outline */
}

.confirm {
  background-color: #AB80E3;
  border: 3.5px solid #AB80E3;
  border-radius: 60px;
  color: #f4f4f4;
  padding: 8px 50px;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  text-decoration: none; /* Remove underline */
  top: -35px;
  margin-left: calc(50% - 105px);
}

.buttonsignup {
  position: absolute;
  top: 54.5%;
  left:  calc(50% - 15px);
}

.ask {
  position: absolute;
  font-size: 15px;
  letter-spacing: 1px;
  top: 1px;
  left: -125px;
}

.signup {
  font-size: 15px;
  letter-spacing: 1px;
  color: #AB80E3;
}

.buttonback {
  position: relative;
  top: -185px;
  left: -10px;
  z-index: 20;
}

.back {
  position: relative;
  top: 3px;
  left: 20px;
  font-size: 40px;
  z-index: 1;
  color: transparent;
}

.iconback {
  position: relative;
}
